Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint

remark:
  run: yarn remark --no-stdout {staged_files}

swiftlint:
  run: yarn node-swiftlint lint --strict --path {staged_files}

build(react-native): ignore from publish
  lerna.json
  packages/react-native/package.json
Due: none

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: remark

docs(blog): add release 1.0 post
  website/blog/2020-03-21-release-1.0.md
Due: remark

refactor(capacitor/ios): extract optPosition()
  packages/capacitor/ios/Plugin/AMBBanner.swift
  packages/capacitor/ios/Plugin/AMBContext.swift
Due: swiftlint

Minor typo's
  website/blog/2020-03-21-release-1.0.md
Due: remark

refactor(capacitor/ios): extract prepareStackView()
  packages/capacitor/ios/Plugin/AMBBanner.swift
Due: swiftlint

fix(capacitor/ios): respect bottom safe area
  packages/capacitor/ios/Plugin/AMBBanner.swift
Due: swiftlint

docs(blog): fix typo's (#258)
  website/blog/2020-03-21-release-1.0.md
Due: remark

chore: update dependencies
  examples/capacitor/package.json
  examples/playground/package.json
  internal/rollup-config/package.json
  package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  website/package.json
Due: none

fix(cordova/ios): respect bottom safe area
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

Add close-listener
  website/docs/cordova/ads/banner.md
Due: remark

refactor(cordova/ios): extract optPosition()
  packages/cordova/src/ios/AMBBanner.swift
  packages/cordova/src/ios/AMBContext.swift
Due: swiftlint

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
Due: remark

docs(faq): update PLAY-SERVICES-ADS version
  website/docs/cordova/faq.md
Due: remark

docs(cordova): update API docs
  website/docs/cordova/api/classes/mobilead.md
Due: remark

docs(capacitor): add note about capacitor v3 requirement
  website/docs/capacitor/installation.mdx
Due: none

chore(capacitor/ios): delay stack view preparation until banner show
  packages/capacitor/ios/Plugin/AMBBanner.swift
Due: swiftlint

chore(capacitor/ios): use webview as main view
  packages/capacitor/ios/Plugin/AMBBanner.swift
Due: swiftlint

chore(capacitor/ios): add backgroundView to stackView only for iOS < 14
  packages/capacitor/ios/Plugin/AMBBanner.swift
Due: swiftlint

refactor(capacitor/ios): extract load() method
  packages/capacitor/ios/Plugin/AMBBanner.swift
Due: swiftlint

fix(capacitor/ios): make status bar text visible
  packages/capacitor/ios/Plugin/AMBBanner.swift
Due: swiftlint

docs(cordova): fix rewarded interstitial event name
  website/docs/cordova/ads/rewarded-interstitial.md
Due: remark

chore: update dependencies
  examples/capacitor/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  package.json
  packages/capacitor/package.json
  packages/cordova-consent/package.json
  packages/cordova/package.json
Due: none

refactor(cordova/android): extract load() method
  packages/cordova/src/android/ads/Banner.java
Due: none

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
Due: remark

ci(github): update lycheeverse/lychee-action
  .github/workflows/nodejs.yml
Due: none

docs: set packages homepage
  packages/capacitor/package.json
  packages/cordova-consent/package.json
  packages/cordova/package.json
Due: none

docs: add npm version badges
  packages/capacitor/README.md
  packages/cli/README.md
  packages/cordova-consent/README.md
  packages/cordova/README.md
  packages/ionic/README.md
Due: remark

Explain why interstitial sometimes won't close
  website/docs/cordova/faq.md
Due: remark

Typo's
  website/docs/cordova/faq.md
Due: remark

docs(cordova): explain why interstitial sometimes won't close (#263)
  website/docs/cordova/faq.md
Due: remark

chore(capacitor/ios): reserve safe area only depends on banner position
  packages/capacitor/ios/Plugin/AMBBanner.swift
Due: swiftlint

feat(capacitor/ios): set status bar to use light content for top banner
  packages/capacitor/ios/Plugin/AMBBanner.swift
Due: swiftlint

feat(capacitor/ios): do not reserve safe area when there is no banner
  packages/capacitor/ios/Plugin/AMBBanner.swift
Due: swiftlint

feat(cordova/ios): reserve safe area only when banner displays, fix #264
  package.json
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

build: unplug @angular/compiler-cli
  examples/ionic-angular/package.json
  examples/playground/package.json
  package.json
Due: none

chore(cordova/ios): remove BridgingHeader
  packages/cordova/plugin.xml
  packages/cordova/src/ios/AMBAdBase.swift
  packages/cordova/src/ios/AMBBanner.swift
  packages/cordova/src/ios/AMBContext.swift
  packages/cordova/src/ios/AMBInterstitial.swift
  packages/cordova/src/ios/AMBPlugin-Bridging-Header.h
  packages/cordova/src/ios/AMBPlugin.swift
  packages/cordova/src/ios/AMBRewarded.swift
  packages/cordova/src/ios/AMBRewardedInterstitial.swift
Due: swiftlint

chore(capacitor/ios): use singleton constraints
  examples/capacitor/package.json
  packages/capacitor/ios/Plugin/AMBBanner.swift
Due: swiftlint

Explain the use of ES6 for older devices.
  website/docs/cordova/faq.md
Due: remark

Path conditions:
  remark: any of: *.md
  swiftlint: any of: *.swift
