Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint

remark:
  run: yarn remark --no-stdout {staged_files}

swiftlint:
  run: yarn node-swiftlint lint --strict --path {staged_files}

docs(faq): explain the use of ES6 for older devices. (#266)
  website/docs/cordova/faq.md
Due: remark

feat(cordova/ios): emit banner size change event
  packages/capacitor/ios/Plugin/AMBAdBase.swift
  packages/capacitor/ios/Plugin/AMBBanner.swift
Due: swiftlint

docs(faq): link to common reasons for ads not showing article
  website/docs/cordova/faq.md
Due: remark

docs: add badges
  packages/capacitor/README.md
  packages/cli/README.md
  packages/cordova-consent/README.md
  packages/cordova/README.md
  packages/ionic/README.md
Due: remark

refactor(cordova-consent/ios): extract CSNContext
  packages/cordova-consent/plugin.xml
  packages/cordova-consent/src/ios/CSNConsent.swift
  packages/cordova-consent/src/ios/CSNContext.swift
Due: swiftlint

chore(cordova-consent/ios): remove BridgingHeader
  packages/cordova-consent/plugin.xml
  packages/cordova-consent/src/ios/CSNConsent-Bridging-Header.h
  packages/cordova-consent/src/ios/CSNConsent.swift
Due: swiftlint

feat(cordova-consent/ios): pin to use GoogleUserMessagingPlatform 2.0.0
  packages/cordova-consent/plugin.xml
Due: none

refactor(cordova-consent/android): utilize lambda
  packages/cordova-consent/src/android/Consent.java
Due: none

feat(cordova-consent): remove getConsentType(), fix #267
  internal/cli/src/gen/consent.ts
  packages/cordova-consent/package.json
  packages/cordova-consent/src/android/Generated.java
  packages/cordova-consent/src/ios/CSNConsent.swift
  packages/cordova-consent/ts/generated.ts
  packages/cordova-consent/ts/index.ts
Due: swiftlint

chore(cordova-consent/android): replace Action with ExecuteContext
  packages/cordova-consent/plugin.xml
  packages/cordova-consent/src/android/Consent.java
  packages/cordova-consent/src/android/ExecuteContext.java
Due: none

feat(cli): add doctor command
  examples/cordova/package.json
  packages/cli/.eslintrc
  packages/cli/package.json
  packages/cli/src/cmds/doctor.ts
  packages/cli/src/cmds/info.ts
  packages/cli/src/doctor/index.ts
  packages/cli/src/index.ts
  packages/cli/tsconfig.json
Due: none

chore: update dependencies
  internal/rollup-config/package.json
  packages/capacitor/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  website/package.json
Due: none

docs: update API docs
  website/docs/capacitor/api/index.md
  website/docs/cordova/api/index.md
  website/docs/cordova/consent/api/classes/consent.md
  website/docs/cordova/consent/api/classes/consentform.md
  website/docs/cordova/consent/api/enums/consenttype.md
  website/docs/cordova/consent/api/enums/formstatus.md
  website/docs/cordova/consent/api/index.md
  website/docs/ionic/api/index.md
  website/sidebar/typedoc-cordova-consent.js
Due: remark

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
Due: remark

refactor(cli/doctor): introduce indented()
  packages/cli/src/doctor/index.ts
Due: none

chore(cli/doctor): print suggestions
  packages/cli/src/doctor/index.ts
Due: none

chore(release): publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: remark

build: delete tsbuildinfo files before publish
  package.json
  packages/cli/package.json
Due: none

fix(cli): add missing tslib dependency
  packages/cli/package.json
Due: none

fix(cli): add missing ora dependency
  package.json
  packages/cli/package.json
Due: none

chore(cordova): update keywords
  packages/cordova/package.json
Due: none

feat(cli): notify update
  packages/cli/bin/run
  packages/cli/package.json
  packages/cli/src/index.ts
Due: none

feat(cordova/ios): emit reward event with error object
  packages/cordova/src/ios/AMBRewarded.swift
  packages/cordova/src/ios/AMBRewardedInterstitial.swift
Due: swiftlint

fix(cli): prevent spinner loading forever
  packages/cli/src/doctor/index.ts
Due: none

feat(cordova/ios): update Google-Mobile-Ads-SDK to 8.3.0
  packages/cordova/plugin.xml
Due: none

build: run jest before push
  lefthook.yml
Due: none

build(ionic): avoid peerDependencies updated by accident
  lefthook.yml
  packages/ionic/package.json
  packages/ionic/package.test.ts
Due: none

chore(release): publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
Due: remark

chore(cli): set script name
  packages/cli/bin/run
  packages/cli/src/index.ts
Due: none

feat(example/cordova-consent): use buttons to invoke calls
  examples/cordova-consent/www/css/index.css
  examples/cordova-consent/www/index.html
  examples/cordova-consent/www/js/index.js
Due: none

build: add test scripts
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova/package.json
  packages/ionic/package.json
Due: none

fix(cordova/android): implement missing GET_CONSENT_STATUS action
  packages/cordova-consent/src/android/Consent.java
Due: none

fix(cli/doctor): print ok only when there is a config value
  packages/cli/src/doctor/index.ts
Due: none

build: avoid running ioinc-pkg hook every commit
  lefthook.yml
Due: none

docs(cordova): add potential badges
  packages/cordova/README.md
Due: remark

ci(github): create success github status
  .github/workflows/nodejs.yml
Due: none

Path conditions:
  remark: any of: *.md
  swiftlint: any of: *.swift
