Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: yarn commitlint -e $1

pre-commit:
  parallel: true
  commands:
    fixer:
      run: >
        lefthook run fixer &&
        git add {staged_files}
    remark:
      glob: "*.md"
      run: yarn remark --no-stdout {staged_files}
    swiftlint:
      glob: "*.swift"
      run: yarn node-swiftlint lint --strict --path {staged_files}

fixer:
  parallel: true
  commands:
    js-fixer:
      glob: "*.{js,jsx,ts,tsx}"
      run: >
        yarn prettier-eslint --write {staged_files} &&
        yarn eslint --ext .js,.jsx,.ts,tsx --fix {staged_files}
    pkg-json-fixed:
      glob: examples/*/package.json
      run: yarn prettier --write {staged_files}

chore(internal/cli): find capacitor plugin methods by class name
  internal/cli/src/gen/capacitor.ts
Due: none

feat(capacitor/ios): implement configRequest()
  examples/capacitor/package.json
  examples/capacitor/src/main.js
  packages/capacitor/ios/Plugin/AMBContext.swift
  packages/capacitor/ios/Plugin/AdMobPlusPlugin.m
  packages/capacitor/ios/Plugin/AdMobPlusPlugin.swift
  packages/capacitor/package.json
  packages/capacitor/src/definitions.ts
  packages/capacitor/src/web.ts
Due: swiftlint

refactor(capacitor/android): extract code to AMBContext
  packages/capacitor/android/src/main/java/admob/plus/capacitor/AdMobPlusPlugin.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ExecuteContext.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ads/AdBase.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ads/Banner.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ads/Interstitial.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ads/InterstitialAd.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ads/Rewarded.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ads/RewardedAd.java
Due: none

feat(capacitor/android): implement configRequest()
  packages/capacitor/android/src/main/java/admob/plus/capacitor/AdMobPlusPlugin.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ExecuteContext.java
Due: none

feat(capacitor/android): implement RewardedInterstitialAd
  packages/capacitor/android/build.gradle
  packages/capacitor/android/src/main/java/admob/plus/capacitor/AdMobPlusPlugin.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ExecuteContext.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ads/AdBase.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ads/Banner.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ads/Interstitial.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ads/RewardedInterstitial.java
  packages/capacitor/package.json
Due: none

fix(internal/cli): fix type error
  internal/cli/src/gen/capacitor.ts
Due: none

refactor(cordova/android): extract optAdOrCreate()
  examples/playground/package.json
  packages/cordova/package.json
  packages/cordova/src/android/AdMob.java
  packages/cordova/src/android/ExecuteContext.java
  packages/cordova/src/android/ads/AdBase.java
  packages/cordova/src/android/ads/Banner.java
  packages/cordova/src/android/ads/Interstitial.java
  packages/cordova/src/android/ads/Rewarded.java
  packages/cordova/src/android/ads/RewardedInterstitial.java
Due: none

refactor(cordova/android): extract optAdSize()
  packages/cordova/src/android/AdMob.java
  packages/cordova/src/android/ExecuteContext.java
  packages/cordova/src/android/ads/Banner.java
Due: none

docs(cordova): update events to use lower case
  website/docs/cordova/ads/banner.md
  website/docs/cordova/ads/interstitial.md
  website/docs/cordova/ads/rewarded-interstitial.md
  website/docs/cordova/ads/rewarded.md
  website/docs/cordova/api/enums/adsizetype.md
  website/docs/cordova/api/enums/events.md
Due: remark

chore(example/ionic-angular): add android platform
  examples/ionic-angular/package.json
  examples/ionic-angular/resources/android/icon/drawable-hdpi-icon.png
  examples/ionic-angular/resources/android/icon/drawable-ldpi-icon.png
  examples/ionic-angular/resources/android/icon/drawable-mdpi-icon.png
  examples/ionic-angular/resources/android/icon/drawable-xhdpi-icon.png
  examples/ionic-angular/resources/android/icon/drawable-xxhdpi-icon.png
  examples/ionic-angular/resources/android/icon/drawable-xxxhdpi-icon.png
  examples/ionic-angular/resources/android/splash/drawable-land-hdpi-screen.png
  examples/ionic-angular/resources/android/splash/drawable-land-ldpi-screen.png
  examples/ionic-angular/resources/android/splash/drawable-land-mdpi-screen.png
  examples/ionic-angular/resources/android/splash/drawable-land-xhdpi-screen.png
  examples/ionic-angular/resources/android/splash/drawable-land-xxhdpi-screen.png
  examples/ionic-angular/resources/android/splash/drawable-land-xxxhdpi-screen.png
  examples/ionic-angular/resources/android/splash/drawable-port-hdpi-screen.png
  examples/ionic-angular/resources/android/splash/drawable-port-ldpi-screen.png
  examples/ionic-angular/resources/android/splash/drawable-port-mdpi-screen.png
  examples/ionic-angular/resources/android/splash/drawable-port-xhdpi-screen.png
  examples/ionic-angular/resources/android/splash/drawable-port-xxhdpi-screen.png
  examples/ionic-angular/resources/android/splash/drawable-port-xxxhdpi-screen.png
Due: none

chore(ionic): make admob getter private
  packages/ionic/src/index.ts
Due: none

docs(cordova): increase ios deployment-target to 12.0
  website/docs/cordova/installation.mdx
Due: none

build: use prepublishOnly script for public packages
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova/package.json
  packages/ionic/package.json
Due: none

docs(capacitor): update README
  packages/capacitor/README.md
Due: remark

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
Due: remark

build(capacitor): remove tsbuildinfo files before publish
  packages/capacitor/package.json
Due: none

ci(github): fix build step
  .github/workflows/nodejs.yml
Due: none

fix(internal/cli): run build script
  internal/cli/src/example.ts
Due: none

docs(cordova): add ios demo ad unit IDs
  website/docs/cordova/test-ads.md
  website/docs/ionic/api/classes/admob.md
Due: remark

docs(cordova): add impression events
  website/docs/cordova/ads/interstitial.md
  website/docs/cordova/ads/rewarded-interstitial.md
  website/docs/cordova/ads/rewarded.md
Due: remark

Typo fix
  website/docs/cordova/ads/banner.md
Due: remark

docs(cordova): fix typo (#253)
  website/docs/cordova/ads/banner.md
Due: remark

docs(capacitor): document banner ad
  website/docs/capacitor/ads/banner.md
  website/sidebars.js
Due: remark

chore(cordova/ios): run view releted code in main thread
  packages/cordova/src/ios/AMBPlugin.swift
Due: swiftlint

refactor(cordova/ios): extract initStackView()
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

refactor(cordova/ios): extract opt()
  packages/cordova/src/ios/AMBContext.swift
Due: swiftlint

refactor(cordova/ios): extract opt0()
  packages/cordova/src/ios/AMBContext.swift
  packages/cordova/src/ios/AMBPlugin.swift
Due: swiftlint

refactor(cordova/ios): use private instead of fileprivate
  packages/cordova/src/ios/AMBBanner.swift
  packages/cordova/src/ios/AMBContext.swift
Due: swiftlint

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
Due: remark

docs(capacitor): document rewarded interstitial ad
  website/docs/capacitor/ads/rewarded-interstitial.md
  website/sidebars.js
Due: remark

docs(capacitor): document ad events
  website/docs/capacitor/ads/interstitial.md
  website/docs/capacitor/ads/rewarded.md
Due: remark

docs(ionic): recommend capacitor plugin for non-Cordova project
  website/docs/ionic/getting-started.md
  website/docs/ionic/installation.mdx
Due: remark

docs(users): remove missing app
  website/src/data/users.ts
Due: none

docs(users): update edit link
  website/src/pages/users.tsx
Due: none

build: remove husky scripts
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
Due: none

docs(capacitor): add API docs
  website/docs/capacitor/api/classes/bannerad.md
  website/docs/capacitor/api/classes/interstitialad.md
  website/docs/capacitor/api/classes/rewardedad.md
  website/docs/capacitor/api/classes/rewardedinterstitialad.md
  website/docs/capacitor/api/enums/maxadcontentrating.md
  website/docs/capacitor/api/index.md
  website/docs/capacitor/api/interfaces/admobplusplugin.md
  website/docusaurus.config.js
  website/sidebar/typedoc-capacitor.js
  website/sidebar/typedoc-capcitor.js
  website/sidebars.js
Due: remark

docs(faq): link to error code explanation post
  website/docs/cordova/faq.md
Due: remark

docs(faq): refer app-ads.txt to official guide
  website/docs/cordova/faq.md
Due: remark

docs(faq): add ATT question
  website/docs/cordova/faq.md
Due: remark

chore: update dependencies
  examples/playground/package.json
  packages/cordova-consent/package.json
  packages/ionic/package.json
Due: none
